.about-container {
    color: #DFF6FF;
    background-color: #080D1A;
    padding: 20px;
    height: fit-content;
    font-size: larger;
}
.text-area {
  display: flex;
  margin: 25px;
}

.text-area p {
  align-content: center;
  text-align: justify;
  padding: 20px;
}

.vertical-block {
  color:  #FC6736;
  border-radius: 8px;
}

.tech-stack {
  display: flex;
  justify-content: space-between; 
}

.dev-icons {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin-top: 2%;
  margin-left: 2%;
}

.dev-icons img {
  max-width: 100%; 
  height: 35pt; 
  margin: 20px;
}
.dev-icons i {
  max-width: 100%;
  margin: 20px;
  font-size: 35pt;
}
.dev-animation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dev-animation iframe {
  height: 200pt;
  margin: 20pt;
}