.home-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
  background-color: #DFF6FF;
}

.user-picture {
  flex: 1;
  margin-right: 22px;
}

.user-picture img {
  width: 86%;
  clip-path: polygon(0);
  border-radius: 50px;
  margin-left: 32px;
}

.user-details {
  flex: 2;
  min-width: 100px;
  margin-top: 90px;
  color: #06283D;
  display: block;
  text-align: center;
}

.user-details h1 {
  font-size: 3em;
}

.social-media-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: -15px;
  margin-left: 20px;
}

.social-media-links a {
  font-size: 1.5em;
}

.user-bio {
  flex: 1 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
}

.resume-button {
  display: flex;
  margin: 30px;
  justify-content: center;
}

 
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-picture {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .user-details {
    margin-left: 0;
    margin-top: 0;
  }

  .user-details h1, .social-media-links {
    margin-left: 20px;
  }

  .user-bio {
    margin-left: 0;
    margin-top: 20px;
  }
}
